*{
    margin : 0px;
    padding : 0px;
}
body{
    background-color: #4cb5ae;
}
h1{
    margin-left: 40vi;
    color : #b54c7f;

}
.container{
    height: 600px;
    width: 600px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
    margin-top: 150px;

}
.boxes{
    display : flex;
    flex-wrap: wrap;
}
.box{
    height: 200px;
    width: 200px;
    border-radius: 2rem;
    color: #fff;
    font-size: 5rem;
    
    background-color: #b2ddf7;
    box-shadow: 1.5rem;

    
}
.next{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 150px;


}
.nxtbtn {
    background-color: black;
    height: 65px;
    width: 120px;
    color: #fff;

}
.resetbtn {
    background-color: black;
    height: 65px;
    width: 120px;
    color: #fff;

}
    
    